@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.menu{
    background-color: #331d02;
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #5e7094;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #573c3c;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}


/* CSS pagina */
 

.openModalBtn1{
  text-decoration: none;
  color: #fff;
  background-color: #617603;
  padding: 1em 3em;
  letter-spacing: 2px;
  border: 2px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 500;
  transition: background-color .3s;
  margin-bottom: auto;
  top:-100px;
  margin: 100px 200px 0 450px;
}

.openModalBtn1:hover{
  color: #336de1;
  background-color: #e5f892;
}
 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-group-1 {
  width: 449px;
  min-height: 470px;
  height: auto;
  margin: 25px 300px 10px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 50px;
}

.u-section-1 .u-text-1 {
  margin: 0px -100px auto 0;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 369px;
  margin: 13px 80px 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -82px 90px 0 auto;
  background-color: #c5b802;
}



.u-section-1 .u-container-layout-2 {
  padding: 0 150px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -29px auto 0 176px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -29px 46px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 193px 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-text-5 {
  font-weight: 1200;
  margin: -200px auto 0 81px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 449px;
    height: 357px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -75px;
    margin-right: 25px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: -425px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 149px;
    margin-right: 124px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -4px;
    margin-right: 221px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: -431px;
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 163px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -31px;
    margin-right: 125px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: -433px;
    margin-bottom: 60px;
    margin-left: 13px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 270px;
    margin-top: 63px;
    margin-right: -15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -60px;
    margin-right: 27px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: -388px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 133px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -100px;
  margin-bottom: 55px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-2 .u-container-layout-1 {
  padding: 90px 30px;
  top: -100px;
}

.u-section-2 .u-text-1 {
  top: 100px;
  margin: 0px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
  top: 100px;
}

.u-section-2 .u-text-3 {
  top: 100px;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 100px;
  top: 50px;
  position: relative;
}

.u-section-2 .u-container-layout-2 {
  height: 320px;
  padding: 30px 30px;
  top: 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 32px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 404px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

/* CSS Modal estado de cuenta */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: rgb(240, 249, 224);
  border-radius: 8px;
  padding: 20px;
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

#payAllBtn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

#payAllBtn:hover {
  color: #000;
  background-color: #1af2c3;
}


.client-info {
  margin-top: 20px;
}

.credit-history {
  margin-top: 20px;
}

.credit-list {
  max-height: 240px;
  background-color: #ffffff90;
  overflow: auto;
  border: 2px solid #05c53b;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

#statusMessage {
  margin-top: 10px;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 90%;
    max-height: 90%;
  }
}


/* Ventana modal pagos */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal2-content {
  background-color: rgba(252, 252, 239, 0.816);
  border-radius: 8px;
  padding: 20px;
  max-width: 80%;
  position: absolute;
  top: 60%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.close-btn2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  color: #000;
  background-color: #93f89a;
}

#invoiceDetails {
  margin-top: 20px;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 90%;
  }
}

/* Ventana modal perfil cliente */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.modal3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}

.modal3-content {
  background-color: rgba(244, 248, 218, 0.947);
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.close-btn3 {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 45px;
  cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.profile-section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.personal-info {
  flex: 1;
  margin-right: 50px;
  margin-top: 20px;
}

.client-photo {
  flex: 1;
  text-align: center;
}

.client-photo img {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.credit-history1 {
  margin-top: 20px;
  
}

.credit-list1 {
  max-height: 200px;
  background-color: #ffffff77;
  overflow: auto;
  border: 1px solid #116504;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.pagination {
  text-align: center;
}

#generatePdfBtn3 {
  margin-top: 10px;
  background-color: #d20b0b;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .modal3-content {
    max-width: 90%;
    max-height: 90%;
  }
}